snippet mfs "Item section(mindflow)" b
***

## ${1:Title}
### meta
- tiemstamp: `!p
import datetime
snip.rv = datetime.datetime.now().strftime('%m/%d/%Y %H:%M')
`
### ${2:output}
\`\`\`
${3:content}
\`\`\`$0
endsnippet

# vim:ft=snippets:
