[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/autocomplpop"]
	path = bundle/autocomplpop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "ftplugin/python/pyflakes"]
	path = ftplugin/python/pyflakes
	url = https://github.com/kevinw/pyflakes.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git@github.com:everbird/pyflakes-vim.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/wimwiki"]
	path = bundle/wimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand.git
[submodule "bundle/commandt"]
	path = bundle/commandt
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vst"]
	path = bundle/vst
	url = https://github.com/vim-scripts/VST.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/vim-scripts/Tagbar.git
[submodule "bundle/jinja2"]
	path = bundle/jinja2
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
