[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https//github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https//github.com/sjl/gundo.vim.git
    ignore = dirty
[submodule "bundle/jade"]
	path = bundle/jade
	url = https//github.com/digitaltoad/vim-jade.git
    ignore = dirty
[submodule "bundle/autocomplpop"]
	path = bundle/autocomplpop
	url = https//github.com/vim-scripts/AutoComplPop.git
    ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = https//github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "bundle/vst"]
	path = bundle/vst
	url = https//github.com/vim-scripts/VST.git
    ignore = dirty
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https//github.com/vim-scripts/Tagbar.git
    ignore = dirty
[submodule "bundle/jinja2"]
	path = bundle/jinja2
	url = https//github.com/Glench/Vim-Jinja2-Syntax.git
    ignore = dirty
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https//github.com/godlygeek/tabular.git
    ignore = dirty
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https//github.com/fs111/pydoc.vim.git
    ignore = dirty
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https//github.com/tpope/vim-pathogen.git
    ignore = dirty
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https//github.com/tpope/vim-unimpaired.git
    ignore = dirty
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https//github.com/sjbach/lusty.git
    ignore = dirty
[submodule "bundle/stylus"]
	path = bundle/stylus
	url = https//github.com/wavded/vim-stylus.git
    ignore = dirty
[submodule "ftplugin/python/pyflakes"]
	path = ftplugin/python/pyflakes
	url = https//github.com/kevinw/pyflakes.git
    ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https//github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = https//github.com/vim-scripts/genutils.git
    ignore = dirty
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https//github.com/fholgado/minibufexpl.vim.git
    ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
	url = https//github.com/mileszs/ack.vim.git
    ignore = dirty
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https//github.com/vim-scripts/bufexplorer.zip.git
    ignore = dirty
[submodule "bundle/mako"]
	path = bundle/mako
	url = https//github.com/vim-scripts/mako.vim.git
    ignore = dirty
[submodule "bundle/speeddating"]
	path = bundle/speeddating
	url = https//github.com/tpope/vim-speeddating.git
    ignore = dirty
[submodule "bundle/vimball"]
	path = bundle/vimball
	url = https//github.com/vim-scripts/Vimball.git
    ignore = dirty
[submodule "bundle/grep"]
	path = bundle/grep
	url = https//github.com/vim-scripts/grep.vim.git
    ignore = dirty
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https//github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "bundle/tmuxconf"]
	path = bundle/tmuxconf
	url = https//github.com/tsaleh/vim-tmux.git
    ignore = dirty
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https//github.com/Lokaltog/vim-easymotion.git
    ignore = dirty
[submodule "bundle/visualmark"]
	path = bundle/visualmark
	url = https//github.com/everbird/Visual-Mark.git
    ignore = dirty
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = https//github.com/rodjek/vim-puppet.git
    ignore = dirty
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = https//github.com/nathanaelkane/vim-indent-guides.git
    ignore = dirty
[submodule "bundle/wombat256mod"]
	path = bundle/wombat256mod
	url = https//github.com/everbird/wombat256.vim.git
    ignore = dirty
[submodule "bundle/python"]
	path = bundle/python
	url = https//github.com/everbird/python.vim--Vasiliev.git
    ignore = dirty
[submodule "bundle/buffergator"]
	path = bundle/buffergator
	url = https//github.com/jeetsukumaran/vim-buffergator.git
    ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https//github.com/scrooloose/nerdcommenter.git
    ignore = dirty
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https//github.com/plasticboy/vim-markdown.git
    ignore = dirty
[submodule "bundle/vimclojure"]
	path = bundle/vimclojure
	url = https//github.com/vim-scripts/VimClojure.git
    ignore = dirty
[submodule "bundle/easyalign"]
	path = bundle/easyalign
	url = https//github.com/junegunn/vim-easy-align.git
    ignore = dirty
[submodule "bundle/exchange"]
	path = bundle/exchange
	url = https//github.com/tommcdo/vim-exchange.git
[submodule "bundle/pythonmode"]
	path = bundle/pythonmode
	url = https//github.com/klen/python-mode.git
    ignore = dirty
[submodule "bundle/mips"]
	path = bundle/mips
	url = https//github.com/vim-scripts/mips.vim.git
[submodule "bundle/json"]
	path = bundle/json
	url = https//github.com/elzr/vim-json.git
[submodule "bundle/wmgraphviz"]
	path = bundle/wmgraphviz
	url = https//github.com/wannesm/wmgraphviz.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https//github.com/msanders/snipmate.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https//github.com/vim-syntastic/syntastic.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-pants"]
	path = bundle/vim-pants
	url = https://github.com/pantsbuild/vim-pants.git
[submodule "bundle/ansible"]
	path = bundle/ansible
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "bundle/onedark"]
	path = bundle/onedark
	url = https://github.com/joshdick/onedark.vim.git
[submodule "bundle/bufonly"]
	path = bundle/bufonly
	url = https://github.com/vim-scripts/BufOnly.vim.git
